@import "src/main/webapp/app/entities/resolution/resolution.component";
@import "~@ng-select/ng-select/themes/default.theme.css";


.dis-a{
  pointer-events: none!important;
  cursor: default!important;
  color: #868686!important;
}

