<div *ngIf="loading">
    <div class="loader">
        <div class="loader-inner">
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-wrap">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>
<div class='' xmlns="http://www.w3.org/1999/html">
    <!-----------    toart ---------------------->
    <div class="toart-cus" *ngIf="success">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
             class="bi bi-plus-circle-fill mr-2" viewBox="0 0 16 16">
            <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
        Cập nhật thành công!
    </div>
    <div (click)="danger = false" *ngIf="danger" class="toart-close" style="background-color: red">
        <div class="pt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-x-circle-fill mr-1" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
            Cập nhật không thành công!
        </div>
    </div>

    <div *ngIf="messErr" (click)="messErr = null" class="toart-close" style="background-color: red">
        <div class="pt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-x-circle-fill mr-1" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
            {{messErr}}
        </div>
    </div>

    <div *ngIf="waringErr" (click)="waringErr = null" class="toart-close" style="background-color: #ff9900">
        <div class="pt-2 pb-1" style="background-color: #ff9900">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-x-circle-fill mr-1" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
            {{waringErr}}
        </div>
    </div>

    <!----------- end   toart ---------------------->
    <div class='card jh-card' style="margin: 0px 0px 10px 0px">
        <h2><b>HỆ THỐNG KIỂM SOÁT TẬP TRUNG </b></h2>
    </div>
    <div style="position: relative;margin-bottom: 10px">
        <p>Trang chủ >> Quản trị danh mục >> Danh mục định giá lại tài sản</p>

    </div>
    <div style="margin-top: 10px" class='card jh-card'>
        <div class="row justify-content-between">
            <div class='col-12 col-sm-4'>
                <h3><b>Danh mục định giá lại tài sản</b></h3>
            </div>

            <div class='col-12 col-sm-5 text-right mr-0 mr-4'>
                <button style="height: 35px;background-color:white!important;font-weight: bold" class='mat-raised-button btn cus-btn' (click)="openLg(import)">
                    <svg style="padding-bottom: 4px;font-weight: bold" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                    </svg>
                    Import
                </button>
                <!--     button   them moi-->
                <button class='mat-raised-button mat-accent btn cus-btn' (click)="openLg(content)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-circle-fill " viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg>
                    Thêm mới
                </button>
                <!--   end  button   them moi-->
            </div>
        </div>
    </div>

    <div class='card jh-card table-custom ' style="margin-top: 3px">
        <!---------------        search            --------------->
        <form [formGroup]="formSearch">
            <p>
            <div class='row'>
                <div class='col-12 col-sm-5 row'>
                    <label class='col-5 col-form-label text-right'><b>Loại sản phẩm</b></label>
                    <div class='col-7'>
                        <ng-select style="font-weight: initial" placeholder="[Tất cả]" bindLabel="value"
                                   formControlName="collateralType">
                            <ng-option value="">[Tất cả]</ng-option>
                            <ng-option *ngFor="let value of collateralType" [value]="value">{{value}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class='col-12 col-sm-5 row mt-2 mt-sm-0'>
                    <label class='col-5 col-form-label text-right'><b>Tần suất</b></label>
                    <div class='col-7'>
                        <input style="border-left: 1px solid #ced4da!important" type='text' placeholder="Thông tin tìm kiếm" class='form-control '
                               formControlName="frequency">
                        <div class="text-danger" *ngIf="
                        formSearch.controls.frequency.errors?.pattern ">
                            Tần suất chỉ gồm các chữ cái số từ 0-9
                        </div>
                    </div>
                </div>
                <div class='col-12 col-sm-5 row mt-2'>
                    <label class='col-5 col-form-label text-right'><b>Trạng thái</b></label>
                    <div class='col-7'>
                        <select style="padding-left: 2px" class="form-control col-12" formControlName="status">
                            <option [selected]="formSearch.value.status == 0" value="0">[Tất cả]</option>
                            <option [selected]="formSearch.value.status == 1" value="1">Đang hoạt động</option>
                            <option [selected]="formSearch.value.status == 2" value="2">Dừng hoạt động</option>
                        </select>
                    </div>
                </div>
                <div class='col-12 col-sm-7 text-right mt-2'>
                    <button class='mat-raised-button mat-accent btn cus-btn' (click)="search()"
                            style='padding-left: 0px;padding-right: 0px;width: 112px'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search"
                             viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        Tìm kiếm
                    </button>
                </div>

            </div>
        </form>

        <!---------------    end    search            --------------->

        <!---------------        table                --------------->
        <div class='row mt-3  table-responsive'>
            <table class="table table-bordered table-hover">
                <thead>
                <tr style="border: 0px" class="text-center">
                    <th scope="col">STT</th>
                    <th scope="col">Mã Tài sản</th>
                    <th scope="col">Loại Tài sản</th>
                    <th scope="col">Tên điều kiện</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Thao tác</th>
                </tr>
                </thead>
                <tbody *ngIf="valCollateralFrequencyList">
                <tr class="text-center" *ngFor="let value of valCollateralFrequencyList; index as i">
                    <td scope="row">{{this.size * this.indexPage + 1 + i}}</td>
                    <td *ngIf="value.collateralType">{{value!.collateralType.split(' - ')[0]}}</td>
                    <td *ngIf="value.collateralType">{{value!.collateralType.split(' - ')[1]}}</td>
                    <td>{{value.frequency}} {{value.frequencyUnit == 'MONTH' ? ' tháng' : ' ngày'}}</td>
                    <td *ngIf="value.status == 'ACTIVE'">Đang hoạt động</td>
                    <td *ngIf="value.status == 'INACTIVE'">Dừng hoạt động</td>
                    <td> <span (click)="edit(value.id,content)" style="cursor: pointer">
                        <fa-icon icon="pencil-alt"></fa-icon>
                    </span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-------------       phan trang        ------------>
        <div *ngIf="page" class='row justify-content-end'>
            <select #selectSize (change)="pageItem(selectSize.value)" class="page-items mr-1" style='height: 30px'>
                <option selected >5</option>
                <option >10</option>
                <option >15</option>
            </select>
            <p class='mt-1 mr-3'>dòng/trang. Tổng số {{page["totalElements"]}}. Hiển
                thị {{this.size * this.indexPage + 1}}-{{countStt()}}. </p>
            <nav aria-label="Page navigation example">
                <ul class="pagination mr-3 mr-sm-3 mr-md-4 pr-1">

                    <!--  to start-->
                    <li style="border-color: white">
                        <a [ngClass]="indexPage == 0?'dis-a':''" (click)="preNextPage('start')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="font-size: 20px"
                                 fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd"
                                      d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </a>
                    </li>

                    <!--   to pre -->
                    <li style="border-color: white" class="mr-3 ">
                        <a [ngClass]="indexPage == 0?'dis-a':''" (click)="preNextPage('pre')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </a>
                    </li>

                    <!--   to next -->
                    <li>
                        <a [ngClass]="(page['totalPages'] - 1) == indexPage?'dis-a':''" (click)="preNextPage('next')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                    </li>

                    <!--   to end -->
                    <li style="border-color:  white">
                        <a [ngClass]="(page['totalPages'] - 1) == indexPage?'dis-a':''" (click)="preNextPage('end')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" font-weight="bold" height="20"
                                 fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                                <path fill-rule="evenodd"
                                      d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-------------       phan trang        ------------>
    <!--     end   table                -->
</div>

<!--------- modan them/ cap nhat---------------->

<ng-template #content let-modal>
    <div class='modal-header'>
        <h5 class='modal-title' style="font-weight: bold">{{active}} tần suất định giá</h5>
        <a class="mr-2" (click)="modal.dismiss('Cross click')">
            <fa-icon style="font-size: 25px" icon='times'></fa-icon>
        </a>
    </div>
    <div class='modal-body'>
        <form [formGroup]="formValCollateralFrequency">
            <div class='row'>
                <div *ngIf="(this.active == 'Thêm mới')" class='col-12 col-sm-6 row'>
                    <label class='col-12 col-form-label '><b>Mã tài sản</b></label>
                    <div class='col-12'>
                        <ng-select placeholder="Chọn mã tài sản"   formControlName="collateralType">
                            <ng-option *ngFor="let value of collateralTypeNotFrequency"
                                       [value]="value">{{value}}</ng-option>
                        </ng-select>
                        <div style="height: 20px">
                            <div class="text-danger" *ngIf="!formValCollateralFrequency.value.collateralType
                         && formValCollateralFrequency.controls.collateralType.touched">
                                Mã tài sản không được để trống
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!(this.active == 'Thêm mới')" class='col-12 col-md-6 row'>
                    <label class='col-12 col-form-label '><b>Mã tài sản</b></label>
                    <div class='col-12'>
                        <select disabled="true"  class="form-control col-12">
                            <option value="1">{{valCollateralFrequency.collateralType}}</option>
                        </select>
                        <div style="height: 20px">
                            <div class="text-danger" *ngIf="!formValCollateralFrequency.value.collateralType
                         && formValCollateralFrequency.controls.collateralType.touched">
                                Mã tài sản không được để trống
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-12 col-sm-6 row'>
                    <label class='col-12 col-form-label'>Tần suất(*)</label>
                    <div class='col-12'>
                        <input type='text' placeholder="Nhập tần suất" style="border-left: 1px solid #ced4da!important"
                               class='form-control input-custem' formControlName="frequency">
                        <div style="height: 20px">
                            <div class="text-danger"
                                 *ngIf="formValCollateralFrequency.controls.frequency.errors?.required && formValCollateralFrequency.controls.frequency.touched">
                                Tần suất không được để trống
                            </div>
                            <div class="text-danger" *ngIf="!formValCollateralFrequency.controls.frequency.errors?.required &&
                        formValCollateralFrequency.controls.frequency.errors?.pattern && formValCollateralFrequency.controls.frequency.touched ">
                                Tần suất chỉ gồm các chữ cái số từ 0-9
                            </div>
                        </div>
                    </div>
                </div>

                <div class='col-12 col-md-6 row'>
                    <label style="padding-right: 0px" class='col-12 col-form-label mb-3 mb-sm-0'>Trạng thái</label>
                    <div class='col-12'>
                        <select style="padding-left: 2px" class="form-control col-12" formControlName="status">
                            <option value="1">Đang hoạt động</option>
                            <option value="2">Dừng hoạt động</option>
                        </select>
                    </div>
                </div>

                <div class='col-12 col-sm-6 row'>
                    <label style="padding-right: 0px" class='col-12 col-form-label mb-3 mb-sm-0'>Đơn vị tần suất</label>
                    <div class='col-12'>
                        <select style="padding-left: 2px" class="form-control col-12" formControlName="frequencyUnit">
                            <option value="DAY">Ngày</option>
                            <option value="MONTH">Thàng</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class='modal-footer justify-content-center mt-3'>
        <button style="width: 135px!important;" [disabled]="!(formValCollateralFrequency.valid && formValCollateralFrequency.value.collateralType)"
                (click)="save()" class='mat-raised-button mat-accent btn cus-btn mr-3'>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-plus-circle-fill mr-2" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
            {{active}}</button>
        <button type='button' style="background-color:#f1f1f1!important" class=' mat-raised-button btn btn-custem' (click)="modal.close('Close click')">
            Hủy
        </button>
    </div>
</ng-template>

<!------------modan them/ cap nhat------------->

<!------------modan import ex------------->
<ng-template #import let-modal>
    <div class="modal-header">
        <h5 class='modal-title' style="font-weight: bold">Import file</h5>
        <a class="mr-2" (click)="modal.dismiss('Cross click')">
            <fa-icon style="font-size: 25px" icon='times'></fa-icon>
        </a>
    </div>
    <div class="modal-body">
        <form [formGroup]="formImport">
        <div class="card-body">
            <input formControlName="import" (click)="valueExErr = null" #inputEx id="importEx" style="display: none" (change)="onChange($event)" type="file">
            <div class="form-group row mb-0"><label class="form-control-label col-12 col-sm-2 pt-2 required">Tên
                file</label>

                <div class="col-6 col-sm-7 pr-0">
                    <input (click)="inputEx.click()" style="background-color: white;cursor: pointer;" formControlName="fileName" readonly class="form-control"
                                                        type="text">
                    <div class="pt-2">
                        <a class="text-danger cursor-pointer"
                           (click)="exportDemoEx()"><i class="text-danger"></i> Tải về
                            file mẫu: Template_import_TSĐB.xlsx<br></a>

                        <a *ngIf="valueExErr"  class="text-danger cursor-pointer mt-4"
                           (click)="exportErrEx()"><i class="text-danger"></i> Tải về
                            file lỗi: import_TSĐB_error.xlsx</a>
                    </div><!---->
                </div>

                <div class="col-6 col-sm-3 pl-2 pl-sm-5">
                    <label for="importEx" class="btn btn-outline-danger w-100">
                        <svg style="padding-bottom: 4px;font-weight: bold" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                        </svg>
                        Chọn file...</label>
                </div>
            </div>
        </div>

           <div class="modal-footer">
                <button type="button" style="background-color:#f1f1f1!important" class=' mat-raised-button btn btn-custem' (click)="modal.close('Close click')">Close</button>
                <button [disabled]="!validateImport"  type="button" class='mat-raised-button mat-accent btn cus-btn' (click)="upload()">Save</button>
           </div>
        </form>
    </div>

</ng-template>
<!------------modan import ex------------->
